#PubDetailsDUP{
         background-color:  #febbbb 0% #fe9090 37% #ff5c5c 100%
}
#PubDetailsOK{
          background-color: #f8ffe8 0% #e3f5ab 33% #b7df2d 100%;
}

#PubDetailsOK Label{
           background-color: inherit;
}

#PubDetailsOK Composite{
           background-color: inherit;
}