// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

$v-app-loading-text: "Dronology";

$v-font-family: "Roboto", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-background-color: #fff;
$v-focus-color: #000040;
$v-focus-style: none;
$v-luminance-threshold: 180;
$v-border: 2px solid v-shade;
$v-border-radius: 6px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;
$valo-menu-background-color: #eee;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
	@include valo;
	
	//Custom variables
	$screen-width: 1440px;
	$screen-height: 90vh;
	$fr-map-height: 55vh;
	$fr-table-height: 35vh;
	
	$color-dark-5: #000040;
	$color-dark-4: #224080;
	$color-light-5: #ffffff;
	$color-light-4: #f5f5f5;
	$color-light-3: #eeeeee;
	
	//Custom styles
	.main_layout {
		max-width: $screen-width;
		left: 0;
		right: 0;
		margin: auto;
	}
	.v-leaflet {
		height: $screen-height;
	}
	.controls_component {
		width: 25% !important;
		height: $screen-height;
	}
	.map_component {
		width: 75% !important;
		padding-left: 6px;
	}

	.fr_leaflet_map {
		height: $fr-map-height !important;
	}
	.fr_table_component {
		height: $fr-table-height !important;
	}

	.af_info_panel {
		height: calc(#{$screen-height} - 106px);
	}
	.af_emergency_operations {
		height: 100px;
	}
	.af_uav_list_controls {
		float: right;
		height: 20px;
	}

	.control_panel {
		border-radius: 0;
		border: 0;
		background-color: $color-light-4;
		.v-panel-caption {
			background-image: -webkit-linear-gradient(top, $color-dark-4 0%, $color-dark-4 100%);
			background-image: linear-gradient(to bottom, $color-dark-4 0%, $color-dark-4 100%);
			backgound-color: $color-dark-4;
			color: $color-light-5;
			border-radius: 0;
			border: 0;
		}
	}

	.v-margin-top {
		padding-top:0px;
		.v-margin-top {
			padding-top:0px;
		}
	}
	.v-margin-right {
		padding-right:0px;
	}
	.v-margin-bottom {
		padding-bottom:0px;
	}
	.v-margin-left {
		padding-left:0px;
	}
	.v-spacing {
		width: 6px;
		height: 6px;
	}

	.v-verticallayout-card, .v-horizontallayout-card {
		border-radius: 0;
	}

	.v-menubar {
		background-color: $color-dark-5;
		color: $color-light-5;
		border-radius: 0px;
		border: 0px;
		height: 45px;
		line-height: 45px;
		
		> .v-menubar-menuitem {
			border-radius: 0px;
			border: 0px;
			
			&:first-child {
				border-radius: 0px;
				border: 0px;
			}
			
			&:last-child {
				border-radius: 0px;
				border: 0px;
			}
			.v-icon {
				width: 28px;
				padding: 0 6px 4px 6px;
				-webkit-filter: invert(100%);
			}
		}
		
		> .v-menubar-menuitem-active {
			background-color: $color-light-3;
			color: $color-dark-5;
			
			.v-icon {
				-webkit-filter: invert(0%);
			}
		}
	
		&:focus {
			outline: none;
		}
	}

	.small_button_link {
		font-size: 75%;
		text-decoration: underline;
		height: 20px;
		padding: 3px 6px;
	}
}
