// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

$v-app-loading-text: "Dronology";

$v-font-family: "Roboto", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-background-color: #fff;
$v-focus-color: #000040;
$v-focus-style: none;
$v-luminance-threshold: 180;
$v-border: 2px solid v-shade;
$v-border-radius: 6px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;
$valo-menu-background-color: #eee;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
	@include valo;
	
	//Custom variables
	$controls-width: 360px;
	$screen-height: 90vh;
	$fr-map-height: 55vh;
	$fr-top-bar-height: 60px;
	
	$color-dark-5: #000040;
	$color-dark-4: #224080;
	$color-dark-2: #666666;
	$color-dark-1: #999999;
	$color-light-5: #ffffff;
	$color-light-4: #f5f5f5;
	$color-light-3: #eeeeee;
	$color-light-2: #d0d0d0;
	
	$color-warning-main: #f0ad4e;
	$color-warning-main-border: #eea236;
	$color-warning-hover: #ec971f;
	$color-warning-hover-border: #d58512;
	
	$color-danger-main: #d9534f;
	$color-danger-main-border: #d43f3a;
	$color-danger-hover: #c9302c;
	$color-danger-hover-border: #ac2925;
	
	$color-okay-main: #5cb85c;
	$color-okay-main-border: #4cae4c;
	$color-okay-hover: #449d44;
	$color-okay-hover-border: #398439;
		
	//Custom styles
	.v-button:focus,
	.v-nativebutton:focus {
		outline: none;
	}
	.btn-warning {
		color: $color-light-5;
		background-color: $color-warning-main;
		border-color: $color-warning-main-border;
		border-width: 1px;
	}
	.btn-warning:focus,
	.btn-warning.focus {
		color: $color-light-5;
		background-color: $color-warning-main;
		border-color: $color-warning-main-border;
	}
	.btn-warning:hover {
		color: $color-light-5;
		background-color: $color-warning-hover;
		border-color: $color-warning-hover-border;
	}

	.btn-danger {
		color: $color-light-5;
		background-color: $color-danger-main;
		border-color: $color-danger-main-border;
		border-width: 1px;
	}
	.btn-danger:focus,
	.btn-danger.focus {
		color: $color-light-5;
		background-color: $color-danger-main;
		border-color: $color-danger-main-border;
	}
	.btn-danger:hover {
		color: $color-light-5;
		background-color: $color-danger-hover;
		border-color: $color-danger-hover-border;
	}

	.btn-okay {
		color: $color-light-5;
		background-color: $color-okay-main;
		border-color: $color-okay-main-border;
		border-width: 1px;
	}
	.btn-okay:focus,
	.btn-okay.focus {
		color: $color-light-5;
		background-color: $color-okay-main;
		border-color: $color-okay-main-border;
	}
	.btn-okay:hover {
		color: $color-light-5;
		background-color: $color-okay-hover;
		border-color: $color-okay-hover-border;
	}
	.confirm_window {
		padding: 10px;
		font-size: 14px;
		.confirm_button_area {
			float: right;
			padding-top: 10px;
		}
		.v-button {
			min-width: 90px;
			height: 30px;
			text-align: center;
		}
		.v-textfield {
			height: 30px;
		}
	
		.v-margin-top {
			padding-top:0px !important;
		}
		.v-margin-right {
			padding-right:0px !important;
		}
		.v-margin-bottom {
			padding-bottom:0px !important;
		}
		.v-margin-left {
			padding-left:0px !important;
		}
	}
	
	.main_layout {
		max-width: 100%;
		left: 0;
		right: 0;
		margin: auto;
	}
	.controls_component {
		width: $controls-width !important;
		height: $screen-height;
	}
	.map_component {
		width: calc(100% - #{$controls-width}) !important;
		padding-left: 6px;
	}
	.af_map_component {
		.v-leaflet {
			height: $screen-height;
		}
	}
	.fr_map_component {
		.v-leaflet {
			height: $fr-map-height !important;
		}
		.v-absolutelayout-margin {
			overflow: visible !important;
		}
	}
	.fr_map_component_no_table {
		.v-leaflet {
			height: calc(#{$screen-height} - #{$fr-top-bar-height} - 6px) !important;
		}
	}


	.control_panel {
		border-radius: 0;
		border: 0;
		background-color: $color-light-4;
		.v-panel-caption {
			background-image: -webkit-linear-gradient(top, $color-dark-4 0%, $color-dark-4 100%);
			background-image: linear-gradient(to bottom, $color-dark-4 0%, $color-dark-4 100%);
			background-color: $color-dark-4;
			color: $color-light-5;
			border-radius: 0;
			border: 0;
		}
	}
	.info_box {
		border: 1px solid $color-light-2;
		border-radius: 4px;
		padding: 6px;
		font-size: 12px;
		
		.v-layout {
			width: 100%;
		}

		.info_box_name {
			font-weight: bold;
			font-size: 14px;
		}
		.detailed_info_well {
			width: calc(100% - 20px) !important;
			line-height:120%;
			border-radius: 15px;
			background-color: $color-light-5;
			padding: 3px !important;
			margin: 4px 10px;
			font-size: 12px;
			
			.v-slot {
				text-align: center;
			}
		}
	}
	
	.info_box_focus {
		background-color: #91b3ea;
	}

	.v-absolutelayout-wrapper-fr_mapabsolute_layout {
		top:0 !important;
		left:0 !important;
		width: 100%;
	}
	.fr_mapabsolute_layout {
		height: $fr-map-height !important;
		width: 100%;
		>div>.v-absolutelayout-margin>.v-absolutelayout-wrapper:first-child {
			top:0 !important;
			left:0 !important;
			width: 100%;
		}
		path.leaflet-interactive {
			stroke-width: 4px;
		}
	}
	.fr_leaflet_map {
		height: $fr-map-height !important;
	}
	.fr_leaflet_map_edit_mode {
		height: $fr-map-height !important;
		border-style: solid;
		border-width: 5px; 
		border-color: $color-dark-4;
		z-index: 0 !important;
		.leaflet-grab {
			cursor: crosshair;
		}
		path.leaflet-interactive {
			stroke-width: 6px;
			cursor: crosshair;
		}
		path.leaflet-interactive:hover {
			stroke: rgb(70,130,200);
		}
	}
	.fr_route_meta_info{
		padding: 5px 15px;
		background-color: $color-light-4;
		width: 100%;
		height: $fr-top-bar-height !important;
		
		.v-slot-route_meta_controls {
			width: 20%;
			text-align: right;
			
			>.v-layout {
				text-align: right;
				padding-right: 15px;
			}
			
			.v-button {
				width: 65px;
				height: 28px;
			}
			.v-checkbox {
				font-size: 12px;
			}
		}
		.v-slot-route_meta_label_description {
			width: 80%;
		}
		.route_meta_label_description {
			width: 100%;
			
			.v-spacing {
				height: 0px;
			}
			.name_lable {
				font-size: 16px;
			}
			.waypoint_num_lable {
				padding-top:4px;
				font-size: 12px;
			}
			.description_lable {
				font-size: 14px;
				margin-top: 2px;
			}
			.name_edit_field {
				width: 100%;
				height: 24px;
				font-size: 16px;
				padding: 0 6px;
			}
			.description_edit_field {
				width: 80%;
				height: 22px;
				margin-top: 3px;
				font-size: 14px;
				padding: 0 6px;
			}
		}
	}
	.fr_add_route_layout {
		.v-textfield {
			width: 100%;
			font-size: 14px;
			padding: 6px 10px;
			height: 30px;
		}
		.v-textarea {
			width: 100%;
			font-size: 14px;
			padding: 6px 10px;
		}
	}
	.fr_waypoint_popup {
		font-size: 14px;
		line-height: 16px;
		.v-button {
			margin-top: 10px;
			font-size: 14px;
			height: 30px;
			width: 100%;
		}
	}
	.v-absolutelayout-wrapper-fr_edit_bar {
		left: calc(100%/2 - 440px) !important;
	}
	.fr_edit_bar{
		background-color: $color-dark-4;
		color: white;
		width: 880px !important;
		.v-button {
			height: 22px !important;
			margin: 5px 0;
			font-size: 12px;
		}
		.large_text{
			padding: 4px 4px 4px 20px;
		}
		.small_text{
			font-size: 60%;
			padding: 10px 8px 6px 8px;
		}
		.v-horizontallayout {
			width: 100%;
		}
		.v-slot-small_text {
			width: calc(100% - 300px);
		}
	}
	.v-slot-fr_table_component{
		height: calc(#{$screen-height} - #{$fr-map-height} - #{$fr-top-bar-height} - 12px) !important;
	}
	.fr_table_component {
		width: 100% !important;
		height: 100% !important;
		.v-grid-column-resize-handle {
			width: 0;
		}
		.v-grid-header {
			.v-grid-cell {
				background-color: $color-dark-2;
				color: $color-light-5;
				font-size: 14px;
				font-weight: bold;
			}
		}
		.v-grid-body {
			.v-grid-cell {
				font-size: 14px;
				line-height: 32px;
				height: 34px;
			}
			.v-nativebutton{
				font-size: 12px;
			}
		}
		.v-grid-cell-focused:before {
			border: 0;
		}
	}
	.v-slot-fr_table_component_edit_mode {
		border-width: 5px;
		border-style: solid; 
		border-color: $color-dark-4;
		height: calc(#{$screen-height} - #{$fr-map-height} - #{$fr-top-bar-height} - 12px - 10px) !important;
	}
	.fr_table_component_edit_mode {
		width: 100% !important;
		height: 100% !important;
		
		.v-grid-editor {
			input.v-textfield {
				font-size: 14px;
			}
		}
	}
	.fr_info_panel {
		height: $screen-height;
		.v-panel-captionwrap {
		}
		.v-panel-content {
			> .v-layout {
				padding-top: 5px;
			}
		}
		.v-slot-fr_new_route_button_area {
			position: fixed;
			top: 63px;
		}
		.fr_new_route_button {
			font-size: 11px;
			padding: 0 8px;
			height: 26px;
			top: -8px;
			left: 230px;
		}
	}
	.fr_info_box {
		.info_box_name {
			padding-left: 6px;
		}
		.v-button-icon-only {
			width: 25px;
			height: 25px;
		}
		.v-slot-icon-only {
			float: right;
			margin: 0 2px;
		}
	}

	.af_info_panel {
		height: calc(#{$screen-height} - 212px);
		.v-margin-top {
			padding-top:0px;
		}
	}
	.af_operations_group {
		height: 100px;
		border: 1px solid $color-dark-1;
		padding: 3px 8px !important;
		
		> .v-slot:first-of-type {
			font-weight: bold;
		}
		> .v-slot:last-of-type {
			text-align: center;
		}
		
		.v-nativebutton {
			width: 145px !important;
			font-size: 14px;
			text-align: center;
			margin: 2px 8px;
		}
	}
	.af_uav_list_controls {
		float: right;
		height: 20px;
	}

	.af_info_box {
		.af_info_top_content {
			width: 100%;
			line-height: 150%;
			
			.v-image {
				width: 50px;
				padding: 10px 0;
			}
		
			> .v-slot,
			> .v-expand > .v-slot {
				padding: 3px;
			}
		
			> .v-slot.v-align-right {
				display: block;
				float: right;
			}
		}
		
		.af_info_bottom_content {
			width: 100% !important;
			padding: 4px 10px;
			
			> .v-slot:first-of-type {
				width: 105px;
			}
			> .v-slot:last-of-type {
				width: 170px;
				padding-left: 20px;
				border-left: 1px solid $color-light-2;
			}
			
			.v-button {
				width: 100%;
				height: 90% !important;
			}
		}
	}
	.af_mapabsolute_layout {
		height: $screen-height !important;
		width: 100%;
		>div>.v-absolutelayout-margin>.v-absolutelayout-wrapper:first-child {
			top:0 !important;
			left:0 !important;
			width: 100%;
		}
	}
	.af_leaflet_map_edit_mode {
		height: $screen-height !important;
		border-style: solid;
		border-width: 5px; 
		border-color: $color-dark-4;
		z-index: 0 !important;
	}
	.af_follow_bar{
		background-color: $color-dark-4;
		color: white;
		width: 880px !important;
		.v-button {
			height: 22px !important;
			margin: 5px 0;
			font-size: 12px;
		}
		.large_text{
			padding: 4px 4px 4px 20px;
		}
		.small_text{
			font-size: 60%;
			padding: 10px 80px 6px 8px;
		}
	}
	.af_assign_route {
		.af_assign_route_top_content {
			background-color: $color-dark-5;
			color: $color-light-5;
			padding: 5px 0;
			font-size: 13px;
			width: 100%;
			
			>.v-slot:nth-child(1) {
				.v-image {
					width: 100px;
					padding: 10px 20px;
					-webkit-filter: invert(100%);
				}
			}
			>.v-slot:nth-child(2) {
				.info_box_name {
					font-size: 16px;
				}
			}
			>.v-slot:nth-child(3) {
				padding: 2px 10px;
			}
			>.v-slot:nth-child(4) {
				line-height:120%;
				border-radius: 10px;
				background-color: $color-light-4;
				color: $color-dark-5;
				padding: 10px 30px;
				margin: 5px 50px;
				
				.v-slot {
					padding: 0 5px;
				}
			}
			>.v-slot:nth-child(5) {
				background-color: $color-light-3;
				color: $color-dark-5;
			    padding: 5px 30px;
			    margin-right: 2px;
			    border-radius: 2px;
				float: right;
				.v-button {
					height: 28px;
					width:100%;
				}
			}
		}
		.af_assign_route_middle_content {
			$af_assign_route_middle_content_height: 80vh;
			$af_assign_route_map_height: 45vh;
			height: $af_assign_route_middle_content_height;
			width: 100%;
			.fr_new_route_button {
				font-size: 10px;
				top: 65px;
				left: 240px;
			}
			.fr_info_panel {
				height: $af_assign_route_middle_content_height  !important;
			}
			.fr_mapabsolute_layout {
				height: $af_assign_route_map_height  !important;
			}
			.fr_map_component {
				.v-leaflet {
					height: $af_assign_route_map_height  !important;
				}
			}
			.fr_map_component_no_table {
				.v-leaflet {
					height: calc(#{$af_assign_route_middle_content_height} - #{$fr-top-bar-height} - 6px) !important;
				}
			}
			.fr_table_component {
				height: calc(#{$af_assign_route_middle_content_height} - #{$af_assign_route_map_height} - #{$fr-top-bar-height} - 12px) !important;
			}
			.fr_table_component_edit_mode {
				.v-grid-tablewrapper {
					height: calc(#{$af_assign_route_middle_content_height} - #{$af_assign_route_map_height} - #{$fr-top-bar-height} - 12px - 10px) !important;
				}
			}
			>.v-slot:nth-child(1) {
				width: 360px;
				.v-widget {
					width: 100%
				}
			}
			>.v-slot:nth-child(3) {
				padding: calc(#{$af_assign_route_middle_content_height}/2 - 220px) 0;
				.v-button {
					padding: 0;
					width: 18px;
					height: 200px;
					margin: 10px 0;
				}
			}
			>.v-slot:nth-child(5) {
				width: calc(100% - 392px);
				.v-absolutelayout-wrapper-fr_edit_bar {
					left: calc(100%/2 - 300px) !important;
				}
				.fr_edit_bar {
					width: 600px !important;
				}
				.v-widget {
					width: 100%
				}
			}
		}
		.af_assign_route_bottom_content {
			height: inherit;
			width: 100%;
			padding-left: calc(100% - 240px);
			padding-top: 10px;
			padding-bottom: 10px;
			.v-button {
				width: 100px;
				margin: 0 5px;
			}
		}
	}
	.v-margin-top {
		padding-top:0px;
	}
	.v-margin-right {
		padding-right:0px;
	}
	.v-margin-bottom {
		padding-bottom:0px;
	}
	.v-margin-left {
		padding-left:0px;
	}
	.v-spacing {
		width: 6px;
		height: 6px;
	}

	.v-verticallayout-card, .v-horizontallayout-card {
		border-radius: 0;
	}

	.v-menubar {
		background-color: $color-dark-5;
		color: $color-light-5;
		border-radius: 0px;
		border: 0px;
		height: 45px;
		line-height: 45px;
		
		> .v-menubar-menuitem {
			border-radius: 0px;
			border: 0px;
			
			&:first-child {
				border-radius: 0px;
				border: 0px;
			}
			
			&:last-child {
				border-radius: 0px;
				border: 0px;
			}
			.v-icon {
				width: 28px;
				padding: 0 6px 4px 6px;
				-webkit-filter: invert(100%);
			}
		}
		
		> .v-menubar-menuitem-active {
			background-color: $color-light-3;
			color: $color-dark-5;
			
			.v-icon {
				-webkit-filter: invert(0%);
			}
		}
	
		&:focus {
			outline: none;
		}
	}

	.small_button_link {
		font-size: 11px;
		text-decoration: underline;
		height: 20px;
		padding: 3px 6px;
	}

	.bring_front{
		z-index: 999 !important;
	}
	.bring_back{
		z-index: 0;
	}
	.cancel_button{
		padding-left: 50px;
	}
}
